#Hero_head{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    color: #3D3D35;
}

.Hero_para{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 20px;
    color: aliceblue;
}

.Hero_image {
    border-radius: 50%;
}

.About_para{
    text-align: justify;
    color: aliceblue;
    font-size: 20px;
}

.About{
    background-color: #B86A0C;
}

.About_head{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.About_image{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.gradient-back{
	background: linear-gradient(-45deg, #EABD00, #EB3B10, #38EB00);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.Footer{
    height: 25vh;
}